<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.web.mapper.YidaOperTMapper" >
  <resultMap id="BaseResultMap" type="com.boot.web.module.pojo.YidaOperT" >
    <id column="OPER_ID" property="operId" jdbcType="VARCHAR" />
    <result column="OPER_CODE" property="operCode" jdbcType="VARCHAR" />
    <result column="OPER_NAME" property="operName" jdbcType="VARCHAR" />
    <result column="PREFIX_URL" property="prefixUrl" jdbcType="VARCHAR" />
    <result column="POPER_ID" property="poperId" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPER_ID, OPER_CODE, OPER_NAME, PREFIX_URL, POPER_ID, MENU_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from yida_oper_t
    where OPER_ID = #{operId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from yida_oper_t
    where OPER_ID = #{operId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.boot.web.module.pojo.YidaOperT" >
    insert into yida_oper_t (OPER_ID, OPER_CODE, OPER_NAME, 
      PREFIX_URL, POPER_ID, MENU_ID
      )
    values (#{operId,jdbcType=VARCHAR}, #{operCode,jdbcType=VARCHAR}, #{operName,jdbcType=VARCHAR}, 
      #{prefixUrl,jdbcType=VARCHAR}, #{poperId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boot.web.module.pojo.YidaOperT" >
    insert into yida_oper_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="operCode != null" >
        OPER_CODE,
      </if>
      <if test="operName != null" >
        OPER_NAME,
      </if>
      <if test="prefixUrl != null" >
        PREFIX_URL,
      </if>
      <if test="poperId != null" >
        POPER_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operId != null" >
        #{operId,jdbcType=VARCHAR},
      </if>
      <if test="operCode != null" >
        #{operCode,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        #{operName,jdbcType=VARCHAR},
      </if>
      <if test="prefixUrl != null" >
        #{prefixUrl,jdbcType=VARCHAR},
      </if>
      <if test="poperId != null" >
        #{poperId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.web.module.pojo.YidaOperT" >
    update yida_oper_t
    <set >
      <if test="operCode != null" >
        OPER_CODE = #{operCode,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        OPER_NAME = #{operName,jdbcType=VARCHAR},
      </if>
      <if test="prefixUrl != null" >
        PREFIX_URL = #{prefixUrl,jdbcType=VARCHAR},
      </if>
      <if test="poperId != null" >
        POPER_ID = #{poperId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
    </set>
    where OPER_ID = #{operId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.web.module.pojo.YidaOperT" >
    update yida_oper_t
    set OPER_CODE = #{operCode,jdbcType=VARCHAR},
      OPER_NAME = #{operName,jdbcType=VARCHAR},
      PREFIX_URL = #{prefixUrl,jdbcType=VARCHAR},
      POPER_ID = #{poperId,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR}
    where OPER_ID = #{operId,jdbcType=VARCHAR}
  </update>
</mapper>