<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.web.mapper.YidaMenuprivRMapper" >
  <resultMap id="BaseResultMap" type="com.boot.web.module.pojo.YidaMenuprivR" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_ID" property="privilegeId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.boot.web.module.pojo.YidaMenuprivR" >
    insert into yida_menupriv_r (ID, PRIVILEGE_ID)
    values (#{id,jdbcType=VARCHAR}, #{privilegeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.web.module.pojo.YidaMenuprivR" >
    insert into yida_menupriv_r
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="privilegeId != null" >
        PRIVILEGE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>